/**
 *
 * dark red: #913f2c
 *
 */

:root {
	--dark-red: #913f2c;
    --red: #e88686;
    --dark-blue: #2c5768;
    --blue: #87cbe6;
    --dark-green: #4c6c24;
    --green: #d6e687;
}


html {
	margin: 0;
	padding: 0;
	background: #ddd;
}

body {
	margin: 0;
	padding: 0;
}

article {

	margin: 0 auto;
	padding: 1em 0 0 1em;
		
	font-size: 18px;
	line-height: 1.6em;
	font-family: Georgia, serif;
	
}

h1, h2, h3, h4, h5 {
	line-height: 1em;

	font-family: Georgia, serif;
		
	font-weight: normal;
}


h1 {
	position: relative;
	font-size: 1em;
	line-height: 1.6em;
	
	text-transform: lowercase;
	
	padding: 0;
	margin: 1.4545em 0 1.4545em;
}

h2 {
	position: relative;
	font-size: 1em;
	line-height: 1.6em;
	
	padding: 0;
	margin: 0;
	
	font-weight: bold;
}

nav {
	background: black;
	padding: 1.6em 1em 1.6em 1em;
	margin: 0;

	color: white;	
}

nav ul {

	max-width: 800px;
	margin: 0;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

nav ul li {
	display: block;
	margin: 0 1.6em 0 0;
	padding: 0;
}

nav ul li.home {
	order: 5;
	flex-grow: 1;
	margin: 0;
	text-align: right;
}

nav button {
	border: none;
	background: transparent;
	font-family: Georgia, serif;
	color: white;
	font-weight: bold;
}

nav button:hover {
	cursor:pointer;
}

nav h1 {
	float: right;
	margin: 0;
	padding: 0;
}

#body nav a,
#body nav a:hover  {
	color: white;
	border-color: white;
}

p {
	padding: 0;
	margin: 1.4545em 0 0;
}

aside {
	font-size: 0.8em;
	line-height: 2em; 
	text-align: right;
	
	padding: 0 60px;
	margin: -1.8em 0 0;
}

ul, ol {

	padding: 0 60px;
	display: block;
	margin: 0.8em 0;
	padding: 0;
	
	list-style: none;
}

a {

	font-weight: 100;
	
	text-decoration: none;
	color: black;
	
	border-bottom: dashed 2px black;
	padding-bottom: 3px;
}

#body a:hover {
	border-bottom: solid 2px black;
}

pre {
	font-family: Consolas, monospace;
	
	white-space: pre-wrap;
	
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

footer {	
	font-size: 0.8em;
	text-align: center;
	
	margin-top: 3.2em;
}

hr:before
{
	content: "***";
}

hr
{
	font-weight: 1em;
	height: 1.4545em;
	border: none;
	text-align: center;
	margin: 1.4545em 0 1.4545em 0;
	padding: 0;

}

ul.stories {

	margin: 0 -1.4545em 0 -1.4545em;
}

ul.stories li a {
	display: block;
	height: 1.55em;
	border-bottom: solid white 1px;
	padding: 0.725em 1.4545em 0.725em 1.4545em;
}


.progress {
	width: 80%;
	margin: 2em auto auto auto;
	padding: 1px;

	background: white;
}

.progress svg {

	display: block;
	margin: 1em auto 1em auto;
}

.frame {
	position: relative;
	padding-top: 40%;
	
	width: 80%;
	min-width: 340px;
	margin: 2em auto auto auto;
	background: white;
}

.frame div, .frame button {
}

.frame.mc form {

	display: flex;
	flex-wrap: wrap;
		
	width: 50%;
	position: absolute;
	height: 80%;
	top: 2em;
	right: 0;
	
	flex-direction: column;
	justify-content: space-around;
}

.frame form h4,
.frame .question h4 {
	font-size: 24px;
	text-align: left;	
}

.frame .question h4 {

	font-size: 24px;
	padding-left: 1em;

	color: var(--blue);
	text-shadow: -1px -1px 0 black;
	opacity: 0.5;
}

.frame form h4 {

	font-size: 24px;
	
	color: white;
	text-shadow: -1px -1px 0 black;
	opacity: 0.5;
}

.frame.text form h4 {
	width: 100%;
}

.frame .side-0 h4 {
	color: var(--blue);
}

.frame .side-0 button {
	color: var(--dark-blue);
}

.frame .side-1 h4 {
	color: var(--green);
}

.frame .side-1 button {
	color: var(--dark-green);
}

.frame .side-2 h4 {
	color: var(--red);
}

.frame .side-2 button {
	color: var(--dark-red);
}

.frame .question {

	position: absolute;

	width: 40%;
	height: 80%;
	background: #87cbe6;
	color: #2c5768;
	
	top: 10%; left: 5%;
	
	text-align: center;
	
	box-shadow: 5px 5px #eee;
	transform: rotate(-2deg);
}

.frame .question.side-0 {
	background: var(--blue);
	color: var(--dark-blue);
}

.frame .question.side-1 {
	background: var(--green);
	color: var(--dark-green);
}

.frame .question.side-2 {
	background: var(--red);
	color: var(--dark-red);
}

.frame .question.short {
	font-size: 3.5vw;
}

.frame .question.short span {
	top: 30%;
}

.frame .question.medium {
	font-size: 2vw;
}

.frame .question.medium span {
	top: 40%;
}

.frame .question {	
	overflow: scroll;
}

.frame .question.image span {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	
	z-index: 1;
}

.frame .question.image h4 {
	position: relative;
	z-index: 2;
}

.frame .question.image img {
	width: 100%;
}

.frame .question span {
	position: absolute;
	top: 2em;
	left: 1em;
	right: 1em;
		
	font-size: 1.8em;
	line-height: 2em;
}

.frame.mc button {
	width: 90%;
	height: 20%;
	
	border: none;
	
	font-family: Georgia, serif;
	font-size: 3vw;
	box-shadow: 5px 5px #eee;
}

.frame.mc form h4 {

	height: 1em;
	margin: 0 0 0em 0;
}

.frame.text form button {

	position: static;
	display:block;
	
	font-family: Georgia, serif;

}

.frame button:disabled {
	background: #d6e687;
}

.frame.text form {

	display: flex;
	flex-wrap: wrap;
	
	margin-top: 140px;
	
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
}

.frame.text .side-0 #answer {
	background: var(--blue);
	color: var(--dark-blue);
}

.frame.text .side-1 #answer {
	background: var(--green);
	color: var(--dark-green);
}

.frame.text .side-2 #answer {
	background: var(--red);
	color: var(--dark-red);
}

.frame.text input {

	display: block;
	height: 60px;
	
	border: none;
	
	box-shadow: inset 5px 5px 0px #eee;
	margin-right: 5px;
	padding-left: 25px;
	
	line-height: 60px;
	font-size: 20px;
	font-family: Georgia, serif;
	color: var(--dark-blue);
	
	flex-grow: 1;
}

.frame.text input:focus 
{
    outline: none !important;
}

.frame.text button {

	display: block;
	position: static;
	
	width: 60px;
	height: 60px;
	padding: 0;
	
	border: none;
	
	font-size: 3vw;
	box-shadow: 5px 5px #eee;
	
	color: white;
	
	margin-right: 25px;	
	
	flex-grow: none;	
}


.frame.text form div {
	position: static;
}

.frame.text form #hint 
{		
	width: 100%;
	height: 80px;
	
	color: var(--red);		
	line-height: 80px;
	
	padding-left: 25px;
	
	line-height: 60px;
	font-size: 20px;
	
	transition: opacity 3s linear;
}

.frame.text form #hint.visible {
	opacity: 1;
	transition: none;
}

.frame.text form #hint.hidden {
	opacity: 0;
}

.frame.text form #hint[data-wrong="0"]
{
	color: var(--green);		
}

.frame.text form #hint[data-wrong="0"].hidden
{
}

.frame.text form #hint[data-wrong="1"]
{
	color: var(--dark-blue);		
}

.frame.text form #hint[data-wrong="1"].hidden
{
}

.frame.text form #hint[data-wrong="2"] 
{
	color: var(--dark-red);		
}

.frame.text form #hint[data-wrong="2"].hidden
{
}


.frame.image-answers div.question {
	width: 30%;
	height: 60%;
	font-size: 0.8em;
}

.frame.image-answers form {
	width: 60%;
	flex-direction: row;
	justify-content: space-around;
}

.frame.image-answers form h4 {
	position: absolute;
	top: 0;
	left: 0;

}

.frame.image-answers button {
	width: 35%;
	height: 50%;
	margin: 5px
	
}

.frame.image-answers button img {
	width: 100%;
}

ul.decks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul.decks li {
	position: relative;

	width: 200px;
	height: 200px;
	
	background: white;
	
	margin: 10px;
	padding: 0;
}

ul.decks li a.main {

	display: block;
	width: 100%;
	height: 100%;
	
	padding: 0;
	
	text-align: center;
	line-height: 150px;	
	
	border: none;
}

#body ul.decks li a.main:hover {
	border: none;
}

ul.decks li a.list {
	position: absolute;
	top: 3px;
	right: 3px;
	
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	
	border-radius: 7.5px;
	
	background: #ddd;
	color: white;
	border: none;
}

ul.decks li div.progress {
	position: absolute;
	min-height: 3px;
	bottom: 0;
	width: 200px;
	padding: 0;
}

ul.decks li div.progress svg {
	margin: 0;
}

nav #train a {
	font-weight: bold;
	border: none;
}

nav #train a:hover {
	border: none;
}

nav .hidden
{
	display: none;
}

nav #dropbox {
	position: absolute;
	top: 1.6em;
	right: 0;
}

nav #dropbox a {
	font-weight: bold;
	border: none;
}

nav #dropbox a:hover {
	border: none;
}

nav #dropbox span {
	padding-right: 1em;
}

nav #dropbox ul, nav #dropbox li, nav #dropbox span {
	display: inline;
}



