{% raw %}
<script id="mc" type="text/x-jsrender">
	<div class="frame mc">
		<div class="question">
			<h4>
				{{:frontname}}:
			</h4>
			<span>
				{{:question}}
			</span>
	</div>
		<form>
			<h4>
				{{:backname}}:
			</h4>
			<button id="a0" data-answer="0">
			{{:answer0}}
			</button>
			<button id="a1" data-answer="1">
			{{:answer1}}
			</button>
			<button id="a2" data-answer="2">
			{{:answer2}}
			</button>
		</form>
		
    </div>
    <div class="progress">
    </div>
</script>

<script id="text" type="text/x-jsrender">
	<div class="frame text">
		<div class="question">
			<h4>
				{{:frontname}}:
			</h4>
			<span>
				{{:question}}
			</span>
		</div>
		
		<form>
			<h4>
				{{:backname}}:
			</h4>
   			<input type="text" id="answer" autocomplete="off" name="answer">
   			<button type="submit">&#9658;</button>
   			<div id="hint" class="hidden" data-wrong="0"></div>
		</form>

    </div>
    <div class="progress">
    </div>
</script>

<script id="decklink" type="text/x-jsrender">
	<li class="deck" id="deck-{{:num}}">
		<a class="main" href="{{:href}}">{{:name}} ({{:progress}})</a>
		<a class="list" href="{{:href_list}}">i</a>
		<div class="progress"></div>
	</li>
</script>
{% endraw %}